[submodule "dependencies/abc"]
	path = dependencies/abc
	url = https://github.com/tanmayp799/abc.git
[submodule "dependencies/cadical"]
	path = dependencies/cadical
	url = https://github.com/tanmayp799/cadical.git
[submodule "dependencies/manthan"]
	path = dependencies/manthan
	url = https://github.com/tanmayp799/manthan
[submodule "dependencies/kissat"]
	path = dependencies/kissat
	url = https://github.com/tanmayp799/kissat.git
[submodule "dependencies/bfss"]
	path = dependencies/bfss
	url = https://github.com/BooleanFunctionalSynthesis/bfss.git
